<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= folder.name %></title>
    <link rel="stylesheet" href="/styles/style.css" />
  </head>
  <body>
    <header>
      <nav>
        <h1><%= folder.name %></h1>
        <div>
          <a href="/home"><button>Home</button></a>
        </div>
        <!-- prettier-ignore -->
        <% if (!locals.shared) { %>
        <%- include("edit-folder-form", { folder, dialogId: `editFormDialog`, looseFiles });%>
        <a href="/share?id=<%= folder.id%>"><button>Share Folder</button></a>
        <% } %>
      </nav>

      <% if (!locals.shared) { %>
      <form
        action="/upload"
        method="post"
        enctype="multipart/form-data"
        class="small-form"
      >
        <input type="hidden" name="folderId" value="<%= folder.id %>" />
        <h2>Upload File:</h2>
        <div class="form-control">
          <label for="file">File:</label>
          <input type="file" name="file" id="file" />
        </div>
        <div class="form-control">
          <label for="file-name">Name:</label>
          <input type="text" name="name" id="file-name" required />
        </div>
        <button type="submit">Upload</button>
      </form>
      <% } %>
    </header>
    <main>
      <!-- prettier-ignore -->
      <% if (folder.shares) { %>
      <ul class="share-links">
        <% folder.shares.forEach((share) => { %>
        <li>
          <p><code><%= url %>/share/<%= share.link %></code></p>
          <p>Expires: <%= share.expiresAt %></p>
        </li>
        <% }) %>
      </ul>
      <% } %>
      <div class="file-container">
        <%- include("list-files", { files: folder.files }); %>
      </div>
    </main>
  </body>
</html>
