<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= folder.name %></title>
  </head>
  <body>
    <nav>
      <div>
        <a href="/home"><button>Home</button></a>
      </div>
    </nav>
    <main>
      <h1><%= folder.name %></h1>
      <!-- prettier-ignore -->
      <%- include("edit-folder-form", { folder, dialogId: `editFormDialog`, looseFiles });%>
      <form action="/upload" method="post" enctype="multipart/form-data">
        <input type="hidden" name="folderId" value="<%= folder.id %>" />
        <h2>Upload File:</h2>
        <div class="form-control">
          <label for="file">File:</label>
          <input type="file" name="file" id="file" />
        </div>
        <div class="form-control">
          <label for="file-name">Name:</label>
          <input type="text" name="name" id="file-name" required />
        </div>
        <button type="submit">Upload</button>
      </form>
      <%- include("list-files", { files: folder.files }); %>
    </main>
  </body>
</html>
